In [2]:
from scipy.stats import kstest
from scipy import stats
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
data = '../data/'
incomes = pd.read_csv(data + "worldincome.csv", parse_dates=True) 
incomes.describe()
incomes

      country  year_survey  quantile  nb_quantiles     income     gdpppp
0         ALB         2008         1           100  728,89795       7297
1         ALB         2008         2           100  916,66235       7297
2         ALB         2008         3           100   1010,916       7297
3         ALB         2008         4           100  1086,9078       7297
4         ALB         2008         5           100  1132,6997       7297
...       ...          ...       ...           ...        ...        ...
11594     COD         2008        96           100   810,6233  303,19305
11595     COD         2008        97           100   911,7834  303,19305
11596     COD         2008        98           100  1057,8074  303,19305
11597     COD         2008        99           100  1286,6029  303,19305
11598     COD         2008       100           100  2243,1226  303,19305

[11599 rows x 6 columns]